.BackGroundManagemember {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(185, 214, 249);
}

.ContainerTableManagemember {
  position: relative;
  display: flex;
  margin: 0 auto;
  top: 50px;
  max-width: 90%;
  height: 570px;
  padding: 2rem 2rem;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background-color: rgba(181, 178, 224, 0.857);
  border-radius: 10px;
  background-color: rgb(47, 52, 201);
}
