.nameprojectNav {
  margin: 0px;
  top: 17px;
  width: 270px;
  font-weight: 700;
  font-size: 25px;
  font-family: "Satisfy", cursive;
  background-color: aliceblue;
  color: transparent;
  background-clip: text;
}
// .HeaderNavX {
//   background-color: rgb(39, 24, 56);
// }
.HeaderNavY {
  background-color: rgb(108, 132, 204);
}
.ManagememberMemberNav {
  color: rgb(7, 10, 113);
  font-weight: 700;
}
.ManagememberRating {
  color: rgb(7, 10, 113);
  font-weight: 700;
}
